gunicorn==20.0.4
numpy==1.21.2
opencv-python==4.5.3.56
Pillow==12.1.1
pytesseract==0.3.8
Flask==3.0.3
Werkzeug==3.0.6
opencv-contrib-python==4.5.3.56
Flask-RESTful==0.3.10
nltk==3.9.3
langdetect==1.0.9
language-tool-python==2.7.1
